* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.wrapper {
  width: 100vw;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
  color: white;
  background-color: black;
  border-bottom: 3px solid white;
}

a {
  text-decoration: none;
  color: white;
}

.navbar-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
